<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
        <div class ="link">
          <a [routerLink]="['/arrendatario/list']" class = "link">Arrendatario</a> 
          <div class="submenu">
                <a [routerLink]="['/arrendatario/list']">Listar arrendatarios</a>
                <a [routerLink]="['/arrendatario/create']">Crear un nuevo arrendatario</a>
          </div> 
        </div>

        <div class ="link">
            <a [routerLink]="['/arrendador/list']" class="link">Arrendador</a>
            <div class="submenu">
                 <a [routerLink]="['/arrendador/list']">Listar arrendadores</a>
                 <a [routerLink]="['/arrendador/create']">Crear un nuevo arrendador</a>
                 <a [routerLink]="['/solicitudarrendamiento/list']">Listar solicitudes</a>
            </div>     
        </div>

        <div class ="link">
          <a [routerLink]="['/propiedad/list']" class="link">Propiedad</a>
          <div class="submenu">
               <a [routerLink]="['/propiedad/list']">Listar propiedades</a>
               <a [routerLink]="['/propiedad/list']">Crear propiedades</a>
          </div>     
      </div>
    </nav>
  </header>

  <main>
    <!-- Content goes here -->
 
  </main>
</body>
</html>
