<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name group</title>
  <link rel ="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <nav> <!-- barra de inicio-->
        <a href="/html/proyecto/presentacionEquipo.html" class = "link">Arrendatario</a> 
         <div class="submenu">
                <a href="descripcionProyecto.html">List</a>
                <a href="requerimientos.html">Crear</a>
            </div> 
        <div class ="link">
            <a href="../bienvenida.html" class="link">Arrendador</a>
            <div class="submenu">
                <a href="descripcionProyecto.html">List</a>
                <a href="requerimientos.html">Crear</a>
            </div>     
        </div>
        <a href="../contactenos.html" class="link">Propiedad</a>    
    </nav>
  </header>

  <main>
    <!-- Content goes here -->
 
  </main>
</body>
</html>
