.footer {
    background-image: url('/assets/footermientras.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el footer */
    background-position: center; /* Centra la imagen en el footer */
    bottom: 0; /* Fija el footer en la parte inferior de la ventana */
    width: 100%; /* Ancho del footer */
    height: 120px; /* Altura del footer */
  }



