<div class="container">
    <div *ngIf="propiedades.length > 0">
    <table>
        <thead>
            <tr>
                <th>nombrePropiedad</th>
                <th>municipio</th>
                <th>departamento</th>
                <th>valorNoche</th>
                <th>Arrendador</th>
                <th>Ver</th>
                <th>Solicitar un arriendo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let propiedad of propiedades">                
                <td>{{propiedad.nombrePropiedad}}</td>
                <td>{{propiedad.municipio}}</td>
                <td>{{propiedad.departamento}}</td>
                <td>{{propiedad.valorNoche}}</td>
                <td>{{propiedad.arrendadorId}}</td>
                <td><a [routerLink]="['/propiedad/view', propiedad.id]">Ver propiedad</a></td>
                <td><a [routerLink]="['/solicitudarrendamiento/create', propiedad.id]">Solicitar arriendo</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="no-properties" *ngIf="propiedades.length == 0">
        <h1>El arrendador no tiene propiedades</h1>
    </div>
    <a *ngIf="userRole === 'ARRENDADOR'" [routerLink]="['/propiedad/create']" style="width: 200px;">Crearle una propiedad al arrendador </a>
</div>