<div class="container">
    <div *ngIf="solicitudes.length > 0">
        <table>
            <thead>
                <tr>
                    <th>id</th>                    
                    <th>cantPersonas</th>
                    <th>estado</th>
                    <th>fechaFinal</th>
                    <th>fechaInicial</th>
                    <th >Ver propiedad</th>  
                    <th *ngIf="userRole === 'ARRENDADOR'">Eliminar</th>        
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of solicitudes">
                    <td>{{solicitud.id}}</td>                    
                    <td>{{solicitud.cantPersonas}}</td>
                    <td>{{solicitud.estado}}</td>
                    <td>{{solicitud.fechaFinal}}</td>
                    <td>{{solicitud.fechaInicial}}</td>
                    <td><a [routerLink]="['/propiedad/view', solicitud.idPropiedad]">Ver propiedad</a></td>      
                    <td><a *ngIf="userRole === 'ARRENDADOR'" href="#" (click)="borrarSolicitud(solicitud.id); $event.preventDefault()">Eliminar</a></td>              
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="no-properties" *ngIf="solicitudes.length <= 0">
        <h1>El arrendatario no tiene solicitudes de arrendamiento</h1>
    </div>    
</div>