<div class="container">
    <h1>Ver el arrendador</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Eliminar arrendador</th>
                <th>Editar arrendador</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{arrendador.id}}</td>
                <td>{{arrendador.nombre}}</td>
                <td>{{arrendador.apellido}}</td>
                <td>{{arrendador.correo}}</td>
                <td>{{arrendador.telefono}}</td>
                <td><a [routerLink]="['/arrendador/delete', arrendador.id]">Eliminar</a></td>
                <td><a [routerLink]="['/arrendador/edit', arrendador.id]">Editar</a></td>
            </tr>
        </tbody>
    </table>
    <td><a [routerLink]="['/arrendador/edit']">Editar</a><!--borrar solo es una prueba--></td>
</div>